{% comment %} {% for employee in employees%}
<div class="accordion__block fic" name="salons">
    <div class="accordion__block_elems fic">
        <img src="{{employee.avatar.url}}" alt="avatar" class="accordion__block_img">
        <div class="accordion__block_master">{{employee.name}} {{employee.surname}}</div>
    </div>
    <div class="accordion__block_prof">{{employee.category.name}}</div>
</div>
{% endfor %} {% endcomment %}
<select name="salon">
    <option selected>Выберите мастера</option>
    {% for employee in employees %}
        <option value="{{employee.id}}">{{employee.name}}</option>
    {% endfor %}
</select>