{% extends 'beauty/base.html' %}
{% load static %}
{%block title%}
	<title>Записаться</title>
{% endblock %}
{% block css%}
	<link rel="stylesheet" href="{% static 'beauty/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'beauty/css/air-datepicker.css' %}">
	<script src="{% static 'beauty/js/air-datepicker.js' %}"></script>
	<link rel="stylesheet" href="{% static 'beauty/css/main.css' %}">
{% endblock %}
{%block content%}
<body class="servicePage">
	<section id="service">
		<div class="container">
			<div class="service">
				<div class="breadCrumbs">
					<a href="#" class="breadCrumbs__item">На главную</a>
				</div>
				<div class="service__block">
					<h1 class="service__title">Запись на услугу</h1>
					<<button class="service__btn btn">Запись по телефону</button>
				</div>
				
				<form action="#" class="service__form">
					<div class="service__form_block service__salons">
						<button class="accordion">(Выберите салон)</button>
						<div class="panel">
						{%for salon in salons%}
						  <div class="accordion__block fic">
						  	<div class="accordion__block_intro">{{salon.salon_name}}</div>
						  	<div class="accordion__block_address">{{salon.address}}</div>
						  </div>
						{% endfor %}
					</div>
					<div class="service__form_block service__services">
						<button class="accordion">(Выберите услугу)</button>
						<div class="panel">
							{% for service_item in service_items%}
								{% for category, procedure in service_item.items%}
							<button class="accordion">{{category}}</button>
						 	<div class="panel">
								{% for procedure_name, procedure_price in procedure.items%}
							  	<!-- <div class="accordion__block_intro">Макияж</div> -->
							  		<div class="accordion__block_items">
							  			<div class="accordion__block_item fic">
							  				<div class="accordion__block_item_intro">{{procedure_name}}</div>
									  		<div class="accordion__block_item_address">{{procedure_price}} ₽</div>
							  			</div>
								  </div>
								  {% endfor %}
							</div>
								{% endfor %}
							{% endfor%}
							</div>
							
						</div>
						
					</div>
					<div class="service__form_block service__masters">
						<button class="accordion">(Выберите мастера)</button>
						<div class="panel">
						  
						</div>
						  
						

					</div>
					
				</form>
			</div>
		</div>
	</section>
	<section id="time">
		<div class="container">
			<div class="time">
				<h2 class="time__title">Выберите время</h2>
				<div class="time__block">
					<div class="row">
						<div class="col-md-4">
							<div id="datepickerHere"></div>
						</div>
						<div class="col-md-8">
							
								<div class="time__items">
									<div class="time__elems_intro">Вечер</div>
										<div class="time__elems_elem fic">
											<button data-time="17:00" class="time__elems_btn">17:00</button>
											<button data-time="18:30" class="time__elems_btn">18:30</button>
											<button data-time="19:00" class="time__elems_btn">19:00</button>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="time__btns">
					<div class="row">
						<div class="col-md-12">
							<a href={% url 'beauty:service_finally' %}><button type='submit' name='' class="time__btns_next" >Далее</button></a>
							<a href={% url 'beauty:index' %}><button  class="time__btns_home">На главную</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<script src="{% static 'beauty/js/main.js' %}"></script>
</body>
{% endblock%}