{% extends 'beauty/base.html' %}
{% load static %}
{%block title%}
	<title>Записаться</title>
{% endblock %}
{% block css%}
	<link rel="stylesheet" href="{% static 'beauty/css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'beauty/css/air-datepicker.css' %}">
	<script src="{% static 'beauty/js/air-datepicker.js' %}"></script>
	<link rel="stylesheet" href="{% static 'beauty/css/main.css' %}">
{% endblock %}
{%block content%}
<body class="servicePage">
	<section id="service">
		<div class="container">
			<div class="service">
				<div class="breadCrumbs">
					<a href="#" class="breadCrumbs__item">На главную</a>
				</div>
				<div class="service__block">
					<h1 class="service__title">Запись на услугу</h1>
					<button class="service__btn btn">Запись по телефону</button>
				</div>
				
                <div class="dropdowns_container">
					<div class="service__form_block service__salons">
						<button class="accordion">(Выберите салон)</button>
						<div class="panel">
						    {%for salon in salons%}
						      <div
                                class="accordion__block accordion__salon_block fic"
                                data-salon_id="{{ salon.id }}"
                              >
						      	<div class="accordion__block_intro">{{salon.name}}</div>
						      	<div class="accordion__block_address">{{salon.address}}</div>
						      </div>
						    {% endfor %}
                        </div>
					</div>
			    </div>
            </div>
		</div>
	</section>
	<section id="time">
		<div class="container">
			<div class="time">
				<h2 class="time__title">Выберите время</h2>
				<div class="time__block">
					<div class="row">
						<div id="datepicker__container" class="col-md-4">
							<div id="datepickerHere"></div>
						</div>
						<div id="timepicker__container" class="col-md-8">
						</div>
					</div>
				</div>
				<div class="time__btns">
					<div class="row">
						<div class="col-md-12">
                            <a href='{% url 'beauty:index' %}'><button  class="time__btns_home">На главную</button></a>
                            <a id="submit_appointment_btn" href={% url 'beauty:service_finally' %}><button  class="time__btns_next">Далее</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section id="confirm">
    <div class="confirm_appointment">
        <div class="container">
        <div class="serviceFinally">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="breadCrumbs">
                        <a href="#" class="breadCrumbs__item">На главную</a>
                    </div>
                    <div class="service__block">
                        <h1 class="service__title">Запись на услугу</h1>
                    </div>
                    <form id="serviceFinally__form" action="/create_appointment" class="serviceFinally__form" method="POST">
                        {% csrf_token %}
                        <input type="number" hidden name="procedure">
                        <input type="number" hidden name="employee">
                        <input type="number" hidden name="salon">
                        <input type="text" hidden name="appointment_hour">
                        <input type="text" hidden name="date">


                        <div class="serviceFinally__form_block">
                            <div class="serviceFinally__form_header fic">
                                <span class="serviceFinally__form_header__number">Запись</span>
                                <div class="serviceFinally__form_header__item fic">
                                    <div class="serviceFinally__form_header__service">BeautyCity Пушкинская</div>
                                    <div class="serviceFinally__form_header__address">ул. Пушкинская, д. 78А</div>
                                </div>
                            </div>
                            <div class="serviceFinally__form_content">
                                <div class="serviceFinally__form_content__block fic">
                                    <div class="serviceFinally__form_content__title">Дневной макияж</div>
                                    <div class="serviceFinally__form_content__price">750 ₽</div>
                                </div>
                                <div class="serviceFinally__form_content__block fic">
                                    <div class="serviceFinally__form_content__items fic">
                                        <div class="accordion__block_master">Елена Грибнова</div>
                                    </div>
                                    <div class="serviceFinally__form_content__item fic">
                                        <div class="serviceFinally__form_content__time">16:30</div>
                                        <div class="serviceFinally__form_content__date">18 ноября</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="serviceFinally__form_itesm">
                            <div class="contacts__form_block fic">
                                <input type="text" name="client_name" class="contacts__form_iunput" placeholder="Введите имя"
                                       required="">
                                <div class="contacts__form_inputBlock">
                                    <input type="text" name="phone_number" class="contacts__form_iunput"
                                           placeholder="+7(999)999--99-99" required="">
                                </div>
                            </div>

                            <textarea name="question" class="contacts__form_textarea"
                                      placeholder="Вопрос(необязательно)"></textarea>
                            <div class="contacts__form_checkboxBlock fic">
                                <input type="checkbox" class="contacts__form_checkbox" checked="">
                                <span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
                            </div>
                            <a href={% url 'beauty:index' %}>
                                <button type="submit" class="serviceFinallys__form_btn">Записаться</button>
                            </a>
                            <a href="#">
                                <button class="serviceFinallys__form_back">Назад</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<script src="{% static 'beauty/js/main.js' %}"></script>
</body>
{% endblock%}